<article class="main__article">
  <section>
    <h1>Urheberrecht</h1>
    <p>Fotos, Texte, Grafiken, Webites und sonstige Inhalte unterliegen dem Urheberrecht und dürfen nicht einfach
      kopiert oder weiterverwendet werden!</p>
    <p>Wenn Du Interesse hast etwas von <a href="https://gruenschnitt.reinwiese.de"
         class="a--inline"
         target="_blank"
         rel="noopener noreferrer">gruenschnitt.reinwiese.de</a> zu verwenden, dann sprich mich einfach an! Die
      Kontaktdaten findest
      Du im <a href="/impressum"
         class="a--inline">Impressum</a>.</p>
  </section>
</article>