<article class="main__article">
  <section>
    <h3>Wenn Dir das Gr&uuml;nzeug &uuml;ber den Kopf w&auml;chst</h3>
    <h1>Mähen, Mulchen, Schreddern</h1>
    <p></p>
  </section>
</article>
<article class="main__article">
  <section>
    <h3>Weil's richtig ist</h3>
    <h1>Biohof Reinwiese</h1>
    <p>Neben den hier angebotenen Dienstleistungen arbeite ich am Biohof meiner Frau mit. Hier findet Ihr unter anderem:
    </p>
    <ul>
      <li>Bio-Gemüse</li>
      <li>Eier vom Sundheimer Huhn</li>
      <li>Schaffleisch / Lammfleisch</li>
      <li>Ziegenfleisch / Kitzfleisch</li>
      <li>Schaffelle / Ziegenfelle</li>
      <li>Honig</li>
    </ul>
    <a href="https://reinwiese.de"
       target="_blank"
       rel="noopener noreferrer"
       class="button button--attention">zum Biohof Reinwiese</a>
  </section>
</article>