<article class="main__article">
  <section>
    <h3>Wenn dir das Gr&uuml;nzeug &uuml;ber den Kopf w&auml;chst</h3>
    <h1>Mähen, Mulchen, Schreddern</h1>
    <p>Zugewucherte Grundstücke, unzugängliche Flächen, widerspenstige Wurzelstöcke, verwachsene Wege? Da kann ich
      helfen! Ich liebe die Arbeit mit meinen Maschinen und genieße die körperliche Betätigung bei fast jedem Wetter.
    </p>
    <p>Auf den folgenden Seiten beschreibe ich meine <a href="/dienstleistungen"
         class="a--inline">Dienstleistungen</a>,
      sowie meinen <a href="/maschinen"
         class="a--inline">Maschinenpark</a>, um dir einen Überblick über meine Möglichkeiten zu
      verschaffen.</p>
    <h2>Wofür bin ich <strong>nicht</strong> der Richtige?</h2>
    <p>Für Arbeiten wie</p>
    <ul>
      <li>Golfrasen mähen</li>
      <li>Bonsai schneiden</li>
      <li>Unkraut zwischen Primeln zupfen</li>
    </ul>
    <p>solltest Du lieber jemanden suchen der diese Arbeit so liebt, wie ich meinen Hochgrasmäher.</p>
  </section>
</article>
<article class="main__article">
  <section>
    <h3>Weil's richtig ist</h3>
    <h1>Biohof Reinwiese</h1>
    <p>Neben den hier angebotenen Dienstleistungen arbeite ich am Biohof meiner Frau mit. Hier findet Ihr unter anderem:
    </p>
    <ul>
      <li>Bio-Gemüse</li>
      <li>Bio-Jungpflanzen</li>
      <li>Eier vom Sundheimer Huhn</li>
      <li>Schaffleisch / Lammfleisch</li>
      <li>Ziegenfleisch / Kitzfleisch</li>
      <li>Schaffelle / Ziegenfelle</li>
      <li>Honig</li>
    </ul>
    <a href="https://reinwiese.de"
       target="_blank"
       rel="noopener noreferrer"
       class="button button--attention">zum Biohof Reinwiese</a>
  </section>
</article>