<article class="main__article">
  <section>
    <h1>Impressum</h1>
    <h2>Angaben gem&auml;&szlig; &sect;5 TMG</h2>
    <ul class="--listStyleNone">
      <li>Tobias Brennd&ouml;rfer</li>
      <li>Schulacker 17</li>
      <li>69436 Schönbrunn</li>
    </ul>
    <h4>Kontakt</h4>
    <ul class="--listStyleNone">
      <li>Telefon: 0176/344 010 95</li>
      <li>tobias@reinwiese.de</li>
    </ul>
    <h2>Redaktionell verantwortlich</h2>
    <ul class="--listStyleNone">
      <li>Tobias Brennd&ouml;rfer</li>
      <li>Schulacker 17</li>
      <li>69436 Schönbrunn</li>
      <li>Telefon: 0176/344 010 95</li>
      <li>tobias@reinwiese.de</li>
    </ul>
    <h2>EU-Streitschlichtung</h2>
    <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
      <a class="a--inline"
         href="https://ec.europa.eu/consumers/odr/"
         target="_blank"
         rel="noopener noreferrer">ec.europa.eu/consumers/odr</a>.<br>
      Meine E-Mail-Adresse findst Du oben im Impressum.
    </p>
    <h2>Verbraucher&shy;streit&shy;beilegung / Universal&shy;schlichtungs&shy;stelle</h2>
    <p>Ich bin nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
      teilzunehmen.</p>
    <p class="credit">Quelle:
      <a class="a--inline"
         href="https://www.e-recht24.de"
         target="_blank"
         rel="noopener noreferrer">https://www.e-recht24.de</a>
    </p>
  </section>
</article>