<article class="main__article">
  <section>
    <h1>Impressum</h1>
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <ul class="--listStyleNone">
      <li>Tobias Brennd&ouml;rfer</li>
      <li>Reinwiese Gr&uuml;nschnitt</li>
      <li>Schulacker 17</li>
      <li>69436 Sch&ouml;nbrunn</li>
    </ul>
    <h4>Kontakt</h4>
    <ul class="--listStyleNone">
      <li>Telefon: 0176/344 010 95</li>
      <li>E-Mail: tobias@reinwiese.de</li>
    </ul>
    <h2>Umsatzsteuer-ID</h2>
    <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
      DE357297310</p>
    <h2>Redaktionell verantwortlich</h2>
    <ul class="--listStyleNone">
      <li>Tobias Brennd&ouml;rfer</li>
      <li>Schulacker 17</li>
      <li>69436 Sch&ouml;nbrunn</li>
    </ul>
    <h2>Verbraucher&shy;streit&shy;beilegung / Universal&shy;schlichtungs&shy;stelle</h2>
    <p>Ich bin nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
      teilzunehmen.</p>
  </section>
</article>