<article class="main__article">
  <section>
    <h1>Maschinen</h1>
    <p>Um Dir einen Überblick über meine Möglichkeiten und Preise zu verschaffen, habe ich im folgenden meinen
      Maschinenpark, sowie die zugehörigen Stundensätze aufgelistet. Gerne mache ich nach vorheriger Absprache und
      Besichtigung auch Festpreis-Angebote!</p>
    <section>
      <h2>Avant Tecno 755i</h2>
      <!-- <img src="images/XXXXX.jpg"
           alt="Avant Tecno 755i mit Standardschaufel (310 Liter)"
           class="content__image"> -->
      <ul>
        <li>42 kW (57 PS)</li>
        <li>Drehmoment 220 Nm</li>
        <li>Allradantrieb</li>
        <li>niedriger Schwerpunkt</li>
        <li>Hubhöhe 3,10 m</li>
        <li>Hubkraft 1400 kg</li>
      </ul>
      <p>Stundensatz abhängig von der Einsatzart und dem jeweiligen Anbaugerät</p>
      <section>
        <h4>Schlegelmulcher mit Seitenarm</h4>
        <img src="images/avantSchlegelmulcher.jpg"
             alt="Avant Tecno 755i mit Schlegelmulcher mit Seitenarm"
             class="content__image">
        <ul>
          <li>Arbeitsbreite 1200 mm</li>
          <li>Seitliche Reichweite max. ca. 2,20 m</li>
          <li>Neigung max. 90° nach oben</li>
          <li>Neigung max. 45° nach unten</li>
        </ul>
        <p>Stundensatz inkl. Radlader, Personal und Kraftstoff: 94 €</p>
      </section>
      <section>
        <h4>Balkenmähwerk mit Seitenarm (für Heckenschnitt)</h4>
        <!-- <img src="images/XXXXX.jpg"
             alt="Avant Tecno 755i mit Balkenmähwerk für Heckenschnitt"
             class="content__image"> -->
        <ul>
          <li>Arbeitsbreite 1480 mm</li>
          <li>Seitliche Reichweite max. ca. 2,48 m</li>
          <li>Max. Höhe ca. 4,58 m</li>
          <li>Neigung max. 90° nach oben</li>
          <li>Neigung max. 90° nach unten</li>
        </ul>
        <p>Stundensatz inkl. Radlader, Personal und Kraftstoff: 77 €</p>
      </section>
      <section>
        <h4>Allroundgreifer</h4>
        <!-- <img src="images/XXXXX.jpg"
             alt="Avant Tecno 755i mit Allroundgreifer"
             class="content__image"> -->
        <ul>
          <li>Arbeitsbreite 1300 mm</li>
          <li>Zinken 7 oben, 9 unten</li>
        </ul>
        <p>Stundensatz inkl. Radlader, Personal und Kraftstoff: 71 €</p>
      </section>
      <section>
        <h4>Weitere Anbaugeräte</h4>
        <ul>
          <li>Standardschaufel (310 Liter)</li>
          <li>Baggerschaufel</li>
          <li>Palettengabel</li>
          <li>Ballenspieße</li>
        </ul>
        <p>Stundensatz inkl. Radlader, Personal und Kraftstoff: 71 €</p>
      </section>
    </section>
    <section>
      <h2>Aufsitzmäher Efco Tuareg 92 4x4 Evo</h2>
      <img src="images/EfcoTuareg.jpg"
           alt="Aufsitzmäher Efco Tuareg"
           class="content__image">
      <ul>
        <li>13,6 kW (18,5 PS)</li>
        <li>346 kg</li>
        <li>Allradantrieb mit Differantialsperre</li>
        <li>niedriger Schwerpunkt</li>
      </ul>
      <p>Stundensatz inkl. Personal und Kraftstoff: 61 €</p>
    </section>
    <section>
      <h2>Häcksler Jansen GTS 2000 Pro</h2>
      <!-- <img src="images/XXXXX.jpg"
           alt="XXXXX"
           class="content__image"> -->
      <ul>
        <li>10 kW (14 PS)</li>
        <li>max. Aststärke bis 120 mm (je nach Holzbeschaffenheit)</li>
        <li>210 kg</li>
      </ul>
      <p>Stundensatz inkl. Personal und Kraftstoff: 53 €</p>
    </section>
    <section>
      <h2>Freischneider / Motorsense</h2>
      <h4>Stihl FS260/C</h4>
      <ul>
        <li>2 kW (2,7 PS)</li>
      </ul>
      <h4>Stihl FS44</h4>
      <ul>
        <li>0,7 kW (1 PS)</li>
      </ul>
      <p>Stundensatz inkl. Personal und Kraftstoff: 46 €</p>
    </section>
    <section>
      <h2>Kettensäge Husqvarna 240 E</h2>
      <ul>
        <li>1,5 kW (2 PS)</li>
        <li>Schwertlänge 35 cm</li>
      </ul>
      <p>Stundensatz inkl. Personal und Kraftstoff: 46 €</p>
    </section>
    <section>
      <h2>Rasenmäher Stabilo/Güde HighWheeler ST 561 D</h2>
      <ul>
        <li>3,5 kW (4,8 PS)</li>
        <li>Mähbreite 550 mm</li>
      </ul>
      <p>Stundensatz inkl. Personal und Kraftstoff: 46 €</p>
    </section>
    <section>
      <h2>Heckenschere Bosch AHS 42-16</h2>
      <ul>
        <li>420 Watt</li>
        <li>Schnittlänge 420 mm</li>
      </ul>
      <p>Stundensatz inkl. Personal: 46 € (Strom muss gestellt werden)</p>
    </section>
  </section>
</article>