<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        href="https://reinwiese.de/css/default.css">
  <link rel="stylesheet"
        href="style.css">
  <link rel="icon"
        href="https://reinwiese.de/images/logo.svg"
        type="image/svg+xml">
  <script src="js/main.js"
          defer></script>
  <title>Hof Reinwiese - Gr&uuml;nschnitt</title>
</head>
<body>
  [%header%]
  <main>
    [%main%]
  </main>
  [%footer%]
</body>
</html>