<input type="checkbox"
       id="header__navToggle"
       class="header__navToggle">

<nav class="header__nav">
  <label for="header__navToggle"
         class="header__navToggleButton">
    <span class="header__navToggleButtonBar"></span>
    <span class="header__navToggleButtonBar"></span>
    <span class="header__navToggleButtonBar"></span>
  </label>
  <ul class="header__navUl">
    <li class="header__navLi"
        id="gruenschnitt"><a href="/gruenschnitt">Gr&uuml;nschnitt</a></li>
    <li class="header__navLi"
        id="maschinen"><a href="/maschinen">Maschinen</a></li>
  </ul>
</nav>